.actions {
    grid-area: actions;
    padding: 0;
    margin: 0;
    font-size: var(--ui-scale-font-size);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2em;
    list-style: none;
}

.actionButton {
    font-family: var(--ui-font-family);
    font-size: var(--ui-scale-font-size);
    background: white;
    border-radius: 0.5em;
    padding-left: 1em;
    padding-right: 0.5em;
    display: flex;
    align-items: center;
    margin-top: 0.2em;
    position: relative;
}
.actionButton:hover:before,
.actionButton:focus:before {
    content: "➤";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.1em;
    height: "100%";
    width: 1em;
    font-size: 0.7em;
}
.actionButton:disabled {
    background-color: rgb(226, 226, 226);
}
.actionButton .cooldownIndicator {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-left: 0.2em;
    background-image: conic-gradient(#f06 var(--cooldown-percentage), black 0 100%);
}

.targetingMessage {
    font-family: var(--ui-font-family);
    font-size: var(--ui-scale-font-size);
    color: white;
    grid-area: actions;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2em;
}
