.actions {
    grid-area: actions;
    padding: 0;
    margin: 0;
    font-size: var(--ui-scale-font-size);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2em;
}

.actionButton {
    font-family: "Varela Round", sans-serif;
    font-size: var(--ui-scale-font-size);
}

.targetingMessage {
    font-family: "Varela Round", sans-serif;
    font-size: var(--ui-scale-font-size);
    color: white;
    grid-area: actions;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2em;
}
