#rpg {
    display: grid;
    grid-area: gameplay;
    grid-template-areas:
        "leftTeam initiative rightTeam"
        "leftTeam actions rightTeam"
        "leftTeam instability rightTeam"
        "combatLog combatLog combatLog";
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr 3fr 1fr;

    animation: fadeIn 300ms ease-in;

    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
}

.victoryOverlay {
    color: green;
}
.defeatOverlay {
    color: red;
}
.retry {
    display: block;
    margin-top: 1.2em;
    font-size: 0.6em;
}
.victoryOverlay,
.defeatOverlay {
    font-family: var(--ui-font-family);
    font-size: calc(var(--dialogue-font-size) * 3);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* gross */
    z-index: 1001;

    background-color: rgba(0, 0, 0, 0.6);

    animation: fadeIn 300ms ease-in;
}
