#ui .tooltip {
    font-size: calc(var(--ui-scale-font-size) * 0.75);
    font-family: var(--ui-font-family);
    pointer-events: none;
    display: none;
}
#ui .tooltip.show {
    opacity: 1;
    pointer-events: auto;
    display: block;
}

.actionTooltip {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.actionTooltip .rangeType {
    display: block;
    font-style: italic;
}
.actionTooltip .amount {
    color: gold;
    font-weight: bold;
}
.actionTooltip .damageDesc {
    display: block;
}

.effectTitle.Chilled {
    color: cornflowerblue;
}
.effectTitle.Freeze {
    color: cornflowerblue;
}
.effectTitle.Exposed {
    color: rgb(181, 131, 231);
}

#ui .tooltip.statDescriptionTooltip {
    max-width: 20em;
    font-size: calc(var(--ui-scale-font-size) * 0.5);
}
.statDescriptionTooltip .statTitle {
    color: aquamarine;
    text-transform: uppercase;
}

.waitTimeCost {
    display: block;
}
.waitTimeNoun {
    color: peachpuff;
}

#waitTimeCostExplainer {
    max-width: 12em;
}
